<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <section>
        <figure data-aos="flip-down" data-aos-duration="2000">
            <img src="1.jpg" alt="">
        </figure>
        <div id="data" class="content" data-content="여기는 데이터 속성입니다.">
            <h1>Lorem ipsum dolor.</h1>
             sit amet consectetur adipisicing elit. Ducimus alias ea eveniet nihil impedit praesentium asperiores eos nam esse odio laborum, debitis amet aperiam suscipit! Consequatur molestiae placeat quo quas.
        </div>
    </section>

    <section>
        <figure data-aos="zoom-out-right" data-aos-duration="2000"
        data-aos-delay="1000">
            <img src="2.jpg" alt="">
        </figure>
        <div class="content">
            <h1>Lorem ipsum dolor.</h1>
             sit amet consectetur adipisicing elit. Ducimus alias ea eveniet nihil impedit praesentium asperiores eos nam esse odio laborum, debitis amet aperiam suscipit! Consequatur molestiae placeat quo quas.
        </div>
    </section>

    <section>
        <figure data-aos="zoom-out-up" data-aos-duration="2000" data-aos-delay="1000" data-aos-delay="1000">
            <img src="3.jpg" alt="">
        </figure>
        <div class="content">
            <h1>Lorem ipsum dolor.</h1>
             sit amet consectetur adipisicing elit. Ducimus alias ea eveniet nihil impedit praesentium asperiores eos nam esse odio laborum, debitis amet aperiam suscipit! Consequatur molestiae placeat quo quas.
        </div>
    </section>

    <section>
        <figure data-aos="zoom-in-up" data-aos-duration="2000" data-aos-delay="1000" data-aos-delay="1000">
            <img src="4.jpg" alt="">
        </figure>
        <div class="content">
            <h1>Lorem ipsum dolor.</h1>
             sit amet consectetur adipisicing elit. Ducimus alias ea eveniet nihil impedit praesentium asperiores eos nam esse odio laborum, debitis amet aperiam suscipit! Consequatur molestiae placeat quo quas.
        </div>
    </section>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="script.js"></script>
    <script>
        AOS.init(
      
        );
      </script>

</body>
</html>