@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
:root{
    --bs-font-sans-serif: 'Noto Sans KR', sans-serif;
}

.hero{
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    z-index: 0;
    position: relative;
}

.hero::before{
    z-index: -1;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(179, 179, 179, 0.342);
}

