*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
}
/* .container{}
.container .box{
    width: 50vw;
    height: 300px;
    background-color: rgb(231, 173, 248);
}
.container .box:nth-child(odd){
    background-color: rgb(177, 66, 192);  
} */

.table{
    border:1px solid black;
    border-top: 3px solid red;
    border-left: 3px solid yellow;
    border-right: 3px solid blue;
    border-bottom: 3px solid green;
    border-collapse: collapse;
}
.table tr{
    background-color: rgb(127, 221, 147); 
    border-bottom: 1px solid black;  
}
.table tr:nth-child(even){
    background-color: rgb(69, 35, 73); 
    font-weight: bold;
    height: 50px;
}
.table td{
    padding: 0.5rm;
    border-left: 3px solid rgb(0, 0, 0);
}
.table tr:last-child td:first-child{
    background-color: rgb(26, 25, 25);    
}
.table tr:last-child{
    background-color: rgb(238, 6, 6); 
    color: bisque;   
}