*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;}

   html, body{
    scroll-behavior: smooth;
   }

   .list{
    position: fixed;
    display: flex;
    list-style: none;
    text-transform: lowercase;
    border-bottom: 1px solid rgb(114, 114, 114);
    backdrop-filter: blur(10px);
   }

   .list li a{
    display: flex;
    align-items: center;
    gap:8px;
    padding:14px 18px;
    border-right: 1px solid rgb(114, 114, 114);
   }

    .list li a:hover{
        background-color: rgb(131, 131, 131);
        color: rgb(255, 255, 255);
    }

    .list li a:active{
        background-color: black;
       }


   a{
    text-decoration: none;
    color: rgb(54, 54, 54);
   }

   .container{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    height: 100vh;
   }

   .container h2{
    padding-top: 60px;
   }

   .container:nth-child(even){
    background-color: rgb(166, 175, 170); 
}
.btn{
    position: fixed;
    bottom: 10px;
    right: 10px;
}